@model RegisterOfFixAssets.Models.ValidationTest
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.name)
    @Html.ValidationMessageFor(model => model.name)


    @Html.TextBoxFor(model => model.marks)
    @Html.ValidationMessageFor(model => model.marks)

    <input type="submit" value="submit" />
}